@import "meyer-reset.css";
@font-face {
    font-family: odin-font;
    src: url(fonts/Norse-Bold.otf);
}

:root {
    --page-font: Arial, Helvetica, sans-serif;
    --color-white: white;
    --color-green: #596D48;
    --bg-color: #f9fafb;
}

* {
    box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
    font-size: 22px;
    font-weight: 800;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left {
    width: 33%;
    height: 100%;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    padding-top: 10rem;
    position: relative;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 67%;
    height: 100%;
    background-color: var(--bg-color);
}

.banner {
    width: 100%;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.banner h1 {
    color: var(--color-white);
    font-size: 6.5rem;
    font-weight: 800;
    font-family: odin-font;
    position: relative;
    top: 0.9rem;
}

.banner img {
    height: 100%;
}

.input-container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: start;
    justify-items: start;
    column-gap: 0;
    padding-right: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.input-container .label {
    display: block;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    font-family: var(--page-font);
    font-weight: 700;
    margin-bottom: 3px;
}

.input-container input {
    display: block;
    width: 100%;
    height: 1.6rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 14px 16px;
}

.info {
    padding-left: 2.5rem;
    max-width: 70%;
}

.buttons {
    padding-left: 2.5rem;
}

.buttons p {
    font-size: 0.9rem;
    margin-top: 1rem;
    
}

.buttons p a {
    color: var(--color-green);
    text-decoration: none;

}

button {
    width: 10.2rem;
    padding: 0.5rem;
    background-color: var(--color-green);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    padding: 16px;
}

form {
    padding: 1rem;
    padding-left: 2.5rem;
    background-color: var(--color-white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.label {
    font-size: 0.8rem;
}

.credit {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-white);
}

.credit a {
    color: var(--color-white);
    text-decoration: none;
}